
<%= link_to "Back to All Trips", trips_path %>

<%= link_to "Edit Trip", edit_trip_path(@trip.id) %>

<%= link_to "Delete Trip", trip_path(@trip.id), method: :delete, data: {confirm: "Are you sure you want to delete this driver?"} %>

<h2>Trip Details</h2>

<h3>Trip <%= @trip.id %></h3>

<table class="show-table">
<tr>
<th>Trip ID</th>
<th>Trip Date</th>
<th>Driver Name</th>
<th>Price</th>
<th>Rating</th>
</tr>

<td>
<%= "Trip ID: #{@trip.id}" %>
</td>

<td>
<%= "Trip Date: #{@trip.date}" %>
</td>

  <%# Driver: %>
<td>
<%= link_to Driver.find(@trip.driver_id).name, driver_path(@trip.driver_id) %>
</td>
  <%# Passenger: %>
<td>
<%= link_to Passenger.find(@trip.passenger_id).name, passenger_path(@trip.passenger_id) %>
</td>

<td>
<%= "Price: $#{sprintf("%.2f", @trip.cost.to_f / 100)}" %>
</td>

<td>
<%= "Rating: #{@trip.rating}" %>
</td>

</table>
