
<%= link_to "Back to All Trips", trips_path %>

<%= link_to "Edit Trip", edit_trip_path(@trip.id) %>

<%= link_to "Delete Trip", trip_path(@trip.id), method: :delete, data: {confirm: "Are you sure you want to delete this driver?"} %>


<h2>Trip Details</h2>

<h3>Trip <%= @trip.id %></h3>

<ul>

<div class="Rtable Rtable--3cols">

<div style="order:1;" class="Rtable-cell"><h3>Eddard Stark</h3></div>
<div style="order:2;" class="Rtable-cell">Has a sword named Ice</div>
<div style="order:3;" class="Rtable-cell">No direwolf</div>
<div style="order:4;" class="Rtable-cell"><strong>Lord of Winterfell</strong></div>
<li>
  <%= "Trip ID: #{@trip.id}"%>
  </li>
  <li> 
  <%= "Trip Date: #{@trip.date}"%>
  </li>
  <li> Driver:
  <%= link_to Driver.find(@trip.driver_id).name, driver_path(@trip.driver_id)%>
  </li>
  <li> Passenger:
  <%= link_to Passenger.find(@trip.passenger_id).name, passenger_path(@trip.passenger_id)%>
  </li>
   <li> 
  <%= "Price: $#{sprintf("%.2f", @trip.cost.to_f / 100)}"%>
  </li>
   <li> 
  <%= "Rating: #{@trip.rating}"%>
  </li>

  *************************
    <br>


</ul>