<h2>Driver Details</h2>

<h3>
  <%= @driver.name %>
</h3>

<p>Vin:
<%= @driver.vin %>
</p>

<%= link_to "Edit Driver", edit_driver_path(@driver.id)%>
<%= link_to "Delete Driver", driver_path(@driver.id), method: :delete%>

<ul>
<% @driver.trips.each do |trip| %>
<li>Trip ID:
  <%= link_to trip.id, trip_path(trip.id) %>
  </li>
  <li> 
  <%= "Trip Date: #{trip.date}"%>
  </li>
  <li> 
  Passenger:<%= link_to Passenger.find(trip.passenger_id).name, passenger_path(trip.passenger_id)%>
  </li>
   <li> 
  <%= "Price: $#{trip.cost.to_f / 100}"%>
  </li>
   <li> 
  <%= "Rating: #{trip.rating}"%>
  </li>
   <li> 
  <%= link_to "Edit Trip", edit_trip_path(trip.id) %>
  </li>
   <li> 
  <%= link_to "Delete Trip", trip_path(trip.id), method: :delete, data: {confirm: "Are you sure you want to delete this trip?"} %>
  </li>
  *************************
    <br>
<% end %>
</ul>

<ul>
<%= link_to "Back to All drivers", drivers_path() %>

<%= link_to "Edit driver", edit_driver_path(@driver.id) %>

<%= link_to "Delete driver", driver_path(@driver.id), method: :delete, data: {confirm: "Are you sure you want to delete this driver?"} %>

</ul>
<--!  link_to "New Trip", new_trip_path -->
